body{
    color: green;
    text-align: left;
    font-family: monospace;
}
p{
    color: orange;
    background: #000;
}
li{
    background: yellow;
    margin: 1em 0;
}
#header{
    background: #eeeeee;
    color: red;
}